<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5518d3cbf4464f799222934a3cadce31 {
                    position: relative;
                    width: 700.0px;
                    height: 700.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5518d3cbf4464f799222934a3cadce31" ></div>
        
</body>
<script>    
    
            var map_5518d3cbf4464f799222934a3cadce31 = L.map(
                "map_5518d3cbf4464f799222934a3cadce31",
                {
                    center: [-19.8157, -43.9542],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a6505db48a844475ac011db758a85589 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
            var circle_76d67b98ba424f8bbeb64ce96a9a1b2d = L.circle(
                [-19.8157, -43.9542],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 151821.88829693306, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_5e06150c1b734021881570c9740c5991 = L.popup({"maxWidth": "100%"});

        
            var html_a9ef53da12a34e969c0fc5073f504cae = $(`<div id="html_a9ef53da12a34e969c0fc5073f504cae" style="width: 100.0%; height: 100.0%;">Belo Horizonte - Notificações: 580346</div>`)[0];
            popup_5e06150c1b734021881570c9740c5991.setContent(html_a9ef53da12a34e969c0fc5073f504cae);
        

        circle_76d67b98ba424f8bbeb64ce96a9a1b2d.bindPopup(popup_5e06150c1b734021881570c9740c5991)
        ;

        
    
    
            var circle_637a65041fae4a279c2532cb0d67434e = L.circle(
                [-18.9113, -48.2622],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 33983.64178838968, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_287f83e8cbb74e7eabf859327b3a4b51 = L.popup({"maxWidth": "100%"});

        
            var html_3e13a9a1194a499d8a89c972e1b6ce98 = $(`<div id="html_3e13a9a1194a499d8a89c972e1b6ce98" style="width: 100.0%; height: 100.0%;">Uberlândia - Notificações: 129904</div>`)[0];
            popup_287f83e8cbb74e7eabf859327b3a4b51.setContent(html_3e13a9a1194a499d8a89c972e1b6ce98);
        

        circle_637a65041fae4a279c2532cb0d67434e.bindPopup(popup_287f83e8cbb74e7eabf859327b3a4b51)
        ;

        
    
    
            var circle_96e069bfb11549eb81588238c547495e = L.circle(
                [-19.9386, -44.0529],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 28237.47006248455, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_f337e84d68a04d6587a78daf55f70c04 = L.popup({"maxWidth": "100%"});

        
            var html_c7d84586ff894c35a4385bf257a63fbf = $(`<div id="html_c7d84586ff894c35a4385bf257a63fbf" style="width: 100.0%; height: 100.0%;">Contagem - Notificações: 107939</div>`)[0];
            popup_f337e84d68a04d6587a78daf55f70c04.setContent(html_c7d84586ff894c35a4385bf257a63fbf);
        

        circle_96e069bfb11549eb81588238c547495e.bindPopup(popup_f337e84d68a04d6587a78daf55f70c04)
        ;

        
    
    
            var circle_18226448b63c424085319c0c37136a33 = L.circle(
                [-19.9676, -44.1991],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 19705.458012920713, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_01050ea5c67c431c8d8d11d366420316 = L.popup({"maxWidth": "100%"});

        
            var html_912631e2095449c4ad8e8d2ce9141cb7 = $(`<div id="html_912631e2095449c4ad8e8d2ce9141cb7" style="width: 100.0%; height: 100.0%;">Betim - Notificações: 75325</div>`)[0];
            popup_01050ea5c67c431c8d8d11d366420316.setContent(html_912631e2095449c4ad8e8d2ce9141cb7);
        

        circle_18226448b63c424085319c0c37136a33.bindPopup(popup_01050ea5c67c431c8d8d11d366420316)
        ;

        
    
    
            var circle_e7d9dc7fe1df4fab9938970a0a40490d = L.circle(
                [-19.469, -42.5367],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 17416.407131897726, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_88d6498c00b9444dad39895874067f00 = L.popup({"maxWidth": "100%"});

        
            var html_418ca0f945c84074a561d1519292e79a = $(`<div id="html_418ca0f945c84074a561d1519292e79a" style="width: 100.0%; height: 100.0%;">Ipatinga - Notificações: 66575</div>`)[0];
            popup_88d6498c00b9444dad39895874067f00.setContent(html_418ca0f945c84074a561d1519292e79a);
        

        circle_e7d9dc7fe1df4fab9938970a0a40490d.bindPopup(popup_88d6498c00b9444dad39895874067f00)
        ;

        
    
    
            var circle_1e36737bb7384155a79ad63f3e3df0d4 = L.circle(
                [-16.737, -43.8647],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15512.178404701579, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_0b59ecfa2c3443c88e2ce81ca76f3b0a = L.popup({"maxWidth": "100%"});

        
            var html_359bc2ecaf0344489ab0d52ecb30502f = $(`<div id="html_359bc2ecaf0344489ab0d52ecb30502f" style="width: 100.0%; height: 100.0%;">Montes Claros - Notificações: 59296</div>`)[0];
            popup_0b59ecfa2c3443c88e2ce81ca76f3b0a.setContent(html_359bc2ecaf0344489ab0d52ecb30502f);
        

        circle_1e36737bb7384155a79ad63f3e3df0d4.bindPopup(popup_0b59ecfa2c3443c88e2ce81ca76f3b0a)
        ;

        
    
    
            var circle_de38eaa84b324f4eb5bd2a6fa7a8b61c = L.circle(
                [-19.7502, -47.9325],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14018.932412829672, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_3bf5ffef36e5417f8d2197e519f60dc7 = L.popup({"maxWidth": "100%"});

        
            var html_8fbecfa130fb48ec83538a57ef32b74b = $(`<div id="html_8fbecfa130fb48ec83538a57ef32b74b" style="width: 100.0%; height: 100.0%;">Uberaba - Notificações: 53588</div>`)[0];
            popup_3bf5ffef36e5417f8d2197e519f60dc7.setContent(html_8fbecfa130fb48ec83538a57ef32b74b);
        

        circle_de38eaa84b324f4eb5bd2a6fa7a8b61c.bindPopup(popup_3bf5ffef36e5417f8d2197e519f60dc7)
        ;

        
    
    
            var circle_43cf4d6d236f455e8a3fe3a2ce1df441 = L.circle(
                [-21.7642, -43.3496],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13490.750272397054, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_1232ae9dacca494b9ab213d69cc967ac = L.popup({"maxWidth": "100%"});

        
            var html_8d57db4354cc42e68e97348caecf8242 = $(`<div id="html_8d57db4354cc42e68e97348caecf8242" style="width: 100.0%; height: 100.0%;">Juiz de Fora - Notificações: 51569</div>`)[0];
            popup_1232ae9dacca494b9ab213d69cc967ac.setContent(html_8d57db4354cc42e68e97348caecf8242);
        

        circle_43cf4d6d236f455e8a3fe3a2ce1df441.bindPopup(popup_1232ae9dacca494b9ab213d69cc967ac)
        ;

        
    
    
            var circle_a29d397cd8b24239a0137723129be80e = L.circle(
                [-18.8505, -41.9481],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10658.34411367296, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_a5519d75a60a4a82a489947f6aefc34d = L.popup({"maxWidth": "100%"});

        
            var html_00c0753c0a164616b2415ece9a7c42dc = $(`<div id="html_00c0753c0a164616b2415ece9a7c42dc" style="width: 100.0%; height: 100.0%;">Governador Valadares - Notificações: 40742</div>`)[0];
            popup_a5519d75a60a4a82a489947f6aefc34d.setContent(html_00c0753c0a164616b2415ece9a7c42dc);
        

        circle_a29d397cd8b24239a0137723129be80e.bindPopup(popup_a5519d75a60a4a82a489947f6aefc34d)
        ;

        
    
    
            var circle_115755d449ef470ba696d21d16e1a726 = L.circle(
                [-19.4679, -44.2477],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10139.056570949459, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_ecc9bf71f1df4a3da06fcc4f97c12f26 = L.popup({"maxWidth": "100%"});

        
            var html_f24c081503f145be9f4795f303e04061 = $(`<div id="html_f24c081503f145be9f4795f303e04061" style="width: 100.0%; height: 100.0%;">Sete Lagoas - Notificações: 38757</div>`)[0];
            popup_ecc9bf71f1df4a3da06fcc4f97c12f26.setContent(html_f24c081503f145be9f4795f303e04061);
        

        circle_115755d449ef470ba696d21d16e1a726.bindPopup(popup_ecc9bf71f1df4a3da06fcc4f97c12f26)
        ;

        
    
    
            var circle_e102f96b8f27471f9b06d0978e3ee9c6 = L.circle(
                [-22.2341, -45.9332],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8902.445883567101, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_ef5429d41fef4fa28306c4a2dd2e0601 = L.popup({"maxWidth": "100%"});

        
            var html_28d9af31c7774e55ad4c83a2c0d02cf2 = $(`<div id="html_28d9af31c7774e55ad4c83a2c0d02cf2" style="width: 100.0%; height: 100.0%;">Pouso Alegre - Notificações: 34030</div>`)[0];
            popup_ef5429d41fef4fa28306c4a2dd2e0601.setContent(html_28d9af31c7774e55ad4c83a2c0d02cf2);
        

        circle_e102f96b8f27471f9b06d0978e3ee9c6.bindPopup(popup_ef5429d41fef4fa28306c4a2dd2e0601)
        ;

        
    
    
            var circle_d9cbb6f8ea33402a8959a67bdf3c30d1 = L.circle(
                [-19.6657, -43.2121],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8720.629842160131, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_749ac64f33e1473e846210ea6db569c0 = L.popup({"maxWidth": "100%"});

        
            var html_c96ef5e8facd4ae5956b6501c9fcc79c = $(`<div id="html_c96ef5e8facd4ae5956b6501c9fcc79c" style="width: 100.0%; height: 100.0%;">Itabira - Notificações: 33335</div>`)[0];
            popup_749ac64f33e1473e846210ea6db569c0.setContent(html_c96ef5e8facd4ae5956b6501c9fcc79c);
        

        circle_d9cbb6f8ea33402a8959a67bdf3c30d1.bindPopup(popup_749ac64f33e1473e846210ea6db569c0)
        ;

        
    
    
            var circle_f131fcf9a2194427803e9769e418a33d = L.circle(
                [-20.1394, -44.8872],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8187.477191243008, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_5df07406b0634c9c93ccec9dcf8685ea = L.popup({"maxWidth": "100%"});

        
            var html_c4063f7561a047afa155ba1ecb00b5ba = $(`<div id="html_c4063f7561a047afa155ba1ecb00b5ba" style="width: 100.0%; height: 100.0%;">Divinópolis - Notificações: 31297</div>`)[0];
            popup_5df07406b0634c9c93ccec9dcf8685ea.setContent(html_c4063f7561a047afa155ba1ecb00b5ba);
        

        circle_f131fcf9a2194427803e9769e418a33d.bindPopup(popup_5df07406b0634c9c93ccec9dcf8685ea)
        ;

        
    
    
            var circle_fa0f122e97ea4564ad9fc60a4671d0cd = L.circle(
                [-19.9876, -43.8463],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7746.932998826699, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_3b21f7f87dfc4b1a879ae39128013e5f = L.popup({"maxWidth": "100%"});

        
            var html_b0f555f622ba4b159936de532b35a687 = $(`<div id="html_b0f555f622ba4b159936de532b35a687" style="width: 100.0%; height: 100.0%;">Nova Lima - Notificações: 29613</div>`)[0];
            popup_3b21f7f87dfc4b1a879ae39128013e5f.setContent(html_b0f555f622ba4b159936de532b35a687);
        

        circle_fa0f122e97ea4564ad9fc60a4671d0cd.bindPopup(popup_3b21f7f87dfc4b1a879ae39128013e5f)
        ;

        
    
    
            var circle_66940507a23b45ab8d7697f86c943338 = L.circle(
                [-21.1208, -42.943],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6336.8776561165405, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_9605a37202b649a49a4ab96adb7c3d65 = L.popup({"maxWidth": "100%"});

        
            var html_b9c848ec547c4dc78bd54abbb6ec253f = $(`<div id="html_b9c848ec547c4dc78bd54abbb6ec253f" style="width: 100.0%; height: 100.0%;">Ubá - Notificações: 24223</div>`)[0];
            popup_9605a37202b649a49a4ab96adb7c3d65.setContent(html_b9c848ec547c4dc78bd54abbb6ec253f);
        

        circle_66940507a23b45ab8d7697f86c943338.bindPopup(popup_9605a37202b649a49a4ab96adb7c3d65)
        ;

        
    
    
            var circle_99d6865fa53b44d1b1b05089c1ac5bad = L.circle(
                [-18.651, -48.1854],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6277.231530302456, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_b01487693b3e44e9beb778f3f51c8979 = L.popup({"maxWidth": "100%"});

        
            var html_e9238395b0854175b1d86861e260fbd1 = $(`<div id="html_e9238395b0854175b1d86861e260fbd1" style="width: 100.0%; height: 100.0%;">Araguari - Notificações: 23995</div>`)[0];
            popup_b01487693b3e44e9beb778f3f51c8979.setContent(html_e9238395b0854175b1d86861e260fbd1);
        

        circle_99d6865fa53b44d1b1b05089c1ac5bad.bindPopup(popup_b01487693b3e44e9beb778f3f51c8979)
        ;

        
    
    
            var circle_30c8d9835ba64bf4b32565a86a1480ac = L.circle(
                [-21.1303, -42.3674],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6160.293731009052, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_4dde27ae487e40358309b2e0a0472c00 = L.popup({"maxWidth": "100%"});

        
            var html_498309e96a4e44b0b6e4f709546a49b9 = $(`<div id="html_498309e96a4e44b0b6e4f709546a49b9" style="width: 100.0%; height: 100.0%;">Muriaé - Notificações: 23548</div>`)[0];
            popup_4dde27ae487e40358309b2e0a0472c00.setContent(html_498309e96a4e44b0b6e4f709546a49b9);
        

        circle_30c8d9835ba64bf4b32565a86a1480ac.bindPopup(popup_4dde27ae487e40358309b2e0a0472c00)
        ;

        
    
    
            var circle_480a3eea7b2c456eb9cf235961cad15f = L.circle(
                [-20.3856, -43.5035],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6116.86716572336, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_18a72288e8a14d95bf4d0580b4a0efbb = L.popup({"maxWidth": "100%"});

        
            var html_18d02bbb2480421382a18367fb79d07c = $(`<div id="html_18d02bbb2480421382a18367fb79d07c" style="width: 100.0%; height: 100.0%;">Ouro Preto - Notificações: 23382</div>`)[0];
            popup_18a72288e8a14d95bf4d0580b4a0efbb.setContent(html_18d02bbb2480421382a18367fb79d07c);
        

        circle_480a3eea7b2c456eb9cf235961cad15f.bindPopup(popup_18a72288e8a14d95bf4d0580b4a0efbb)
        ;

        
    
    
            var circle_cc8ae6502cd14f3d9a0a18524d26a4ec = L.circle(
                [-20.0194, -44.0561],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5929.295796386962, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_3cdfa93090af41a7b4fcf9e62766ce89 = L.popup({"maxWidth": "100%"});

        
            var html_682dd858393f45f8bb185f00cad534e2 = $(`<div id="html_682dd858393f45f8bb185f00cad534e2" style="width: 100.0%; height: 100.0%;">Ibirité - Notificações: 22665</div>`)[0];
            popup_3cdfa93090af41a7b4fcf9e62766ce89.setContent(html_682dd858393f45f8bb185f00cad534e2);
        

        circle_cc8ae6502cd14f3d9a0a18524d26a4ec.bindPopup(popup_3cdfa93090af41a7b4fcf9e62766ce89)
        ;

        
    
    
            var circle_b495059fbcbc43879d929e0465a00812 = L.circle(
                [-17.8588, -41.509],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5734.922675861239, "stroke": true, "weight": 3}
            ).addTo(map_5518d3cbf4464f799222934a3cadce31);
        
    
        var popup_6fd316768e934ad184ac88850f986976 = L.popup({"maxWidth": "100%"});

        
            var html_e1ad7c8c32c349dba543783659d0ded3 = $(`<div id="html_e1ad7c8c32c349dba543783659d0ded3" style="width: 100.0%; height: 100.0%;">Teófilo Otoni - Notificações: 21922</div>`)[0];
            popup_6fd316768e934ad184ac88850f986976.setContent(html_e1ad7c8c32c349dba543783659d0ded3);
        

        circle_b495059fbcbc43879d929e0465a00812.bindPopup(popup_6fd316768e934ad184ac88850f986976)
        ;

        
    
</script>