<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

{% load static %}

<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link href="{% static 'covid_data_viewer/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'covid_data_viewer/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />


</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">COVID MG</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href={% url 'home' %} accesskey="1" title="">Início</a></li>
				<li><a href={% url 'supported_datasets' %} accesskey="2" title="">e-SUS Notifica</a></li>
				<li class="current_page_item"><a href={% url 'about_data' %} accesskey="3" title="">Transformações de Dados</a></li>	
				<li><a href={% url 'view_notifications' %} accesskey="4" title="">Gráficos</a></li>
				<li><a href={% url 'contact' %} accesskey="5" title="">Contato</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div id="page" class="container">
		<div class="title">
			<h2>TRASNFORMAÇÕES DE DADOS</h2>
			<span class="byline">Como passamos de arquivos .csv para os gráficos apresentados</span> </div>
		<p>
		Antes de utilizarmos os dados para a confecção dos gráficos disponibilizados foi necessário realizar o procedimento de ETL para garantir que os mesmos estivessem limpos e consistentes.
		Esse procedimento foi dividido em cinco fases, sendo elas: leitura dos dados, remoção de colunas majoritariamente nulas, remoção de registros com muitos campos nulos, formatação dos campos de datas e carregamento dos dados.

		</p>
		<p>
		Na primeira fase de leitura dos dados o dataset foi baixado do sistema e-SUS Notifica e carregado dentro do script de ETL.
		Logo em seguida, após realizar uma análise quantitativa da base removemos uma série de colunas devido ao baixo número de dados preenchidos nas mesmas.
		Após a normalização das colunas também eliminamos linhas que continham poucas informações, isto é, com muitos campos faltantes ou com campos cruciais definidos como nulos.
		O último procedimento antes do carregamento dos dados foi a formatação dos campos de datas para um padrão que seria reconhecido pelo nosso sistema de bancos de dados (MySQL).
		Por fim, após toda a limpeza e normalização da base os dados foram carregados ao banco.		
		</p>

		<p>
		Caso queira saber sobre o processo de ETL, ou do projeto como um todo o código está disponível em um repositório no GitHub.
		</p>
		<ul class="actions">
			<li><a href="https://github.com/matvargas/sib-covid" class="button">Acesse o repositório</a></li>
		</ul>
	</div>
</div>
</body>
</html>
