<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4c7f894f49a9448d8fd6b21502540003 {
                    position: relative;
                    width: 700.0px;
                    height: 700.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4c7f894f49a9448d8fd6b21502540003" ></div>
        
</body>
<script>    
    
            var map_4c7f894f49a9448d8fd6b21502540003 = L.map(
                "map_4c7f894f49a9448d8fd6b21502540003",
                {
                    center: [-19.8157, -43.9542],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_23a39087791d4f0fb5537fbb265a9844 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
            var circle_5ec97771e19344a980741612e9dcbed8 = L.circle(
                [-19.8157, -43.9542],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 151821.88829693306, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_65b3a80f788a40bd90771e80a8d3cc00 = L.popup({"maxWidth": "100%"});

        
            var html_c38ec5f874aa4c0fb093561b64654250 = $(`<div id="html_c38ec5f874aa4c0fb093561b64654250" style="width: 100.0%; height: 100.0%;">Belo Horizonte - Notificações: 580346</div>`)[0];
            popup_65b3a80f788a40bd90771e80a8d3cc00.setContent(html_c38ec5f874aa4c0fb093561b64654250);
        

        circle_5ec97771e19344a980741612e9dcbed8.bindPopup(popup_65b3a80f788a40bd90771e80a8d3cc00)
        ;

        
    
    
            var circle_73d252f5901d4b64b3b04fc863340b07 = L.circle(
                [-18.9113, -48.2622],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 33983.64178838968, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_2318c090c37044708c1d661210e7ff80 = L.popup({"maxWidth": "100%"});

        
            var html_341a0d5e20eb484abe74945f9331d35b = $(`<div id="html_341a0d5e20eb484abe74945f9331d35b" style="width: 100.0%; height: 100.0%;">Uberlândia - Notificações: 129904</div>`)[0];
            popup_2318c090c37044708c1d661210e7ff80.setContent(html_341a0d5e20eb484abe74945f9331d35b);
        

        circle_73d252f5901d4b64b3b04fc863340b07.bindPopup(popup_2318c090c37044708c1d661210e7ff80)
        ;

        
    
    
            var circle_638c19aff239495889d20bd4589601b6 = L.circle(
                [-19.9386, -44.0529],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 28237.47006248455, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_e3c02d82710e48c787cfbfd0373636b3 = L.popup({"maxWidth": "100%"});

        
            var html_35ba94d8a2144ae7b7f875bf5797e0b1 = $(`<div id="html_35ba94d8a2144ae7b7f875bf5797e0b1" style="width: 100.0%; height: 100.0%;">Contagem - Notificações: 107939</div>`)[0];
            popup_e3c02d82710e48c787cfbfd0373636b3.setContent(html_35ba94d8a2144ae7b7f875bf5797e0b1);
        

        circle_638c19aff239495889d20bd4589601b6.bindPopup(popup_e3c02d82710e48c787cfbfd0373636b3)
        ;

        
    
    
            var circle_04a0e1b78b4d440589477b7aca15a5bf = L.circle(
                [-19.9676, -44.1991],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 19705.458012920713, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_c33b1cb7064b4fc1bde2273bbde16744 = L.popup({"maxWidth": "100%"});

        
            var html_d4891ec57d6a4003864bb40a08d45a5e = $(`<div id="html_d4891ec57d6a4003864bb40a08d45a5e" style="width: 100.0%; height: 100.0%;">Betim - Notificações: 75325</div>`)[0];
            popup_c33b1cb7064b4fc1bde2273bbde16744.setContent(html_d4891ec57d6a4003864bb40a08d45a5e);
        

        circle_04a0e1b78b4d440589477b7aca15a5bf.bindPopup(popup_c33b1cb7064b4fc1bde2273bbde16744)
        ;

        
    
    
            var circle_58bd99c9aa224aef870e523f91d8f868 = L.circle(
                [-19.469, -42.5367],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 17416.407131897726, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_2b5125b659284ad38d97e96f707f51f8 = L.popup({"maxWidth": "100%"});

        
            var html_e4b76adfc6564895992144e9e8398dd1 = $(`<div id="html_e4b76adfc6564895992144e9e8398dd1" style="width: 100.0%; height: 100.0%;">Ipatinga - Notificações: 66575</div>`)[0];
            popup_2b5125b659284ad38d97e96f707f51f8.setContent(html_e4b76adfc6564895992144e9e8398dd1);
        

        circle_58bd99c9aa224aef870e523f91d8f868.bindPopup(popup_2b5125b659284ad38d97e96f707f51f8)
        ;

        
    
    
            var circle_69c41bdd788347d195e2e1a83c84bfe4 = L.circle(
                [-16.737, -43.8647],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15512.178404701579, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_f58e178e41d745d581c3f1a37a69f6f2 = L.popup({"maxWidth": "100%"});

        
            var html_fede235c66214592bfc96b74efc6fdfe = $(`<div id="html_fede235c66214592bfc96b74efc6fdfe" style="width: 100.0%; height: 100.0%;">Montes Claros - Notificações: 59296</div>`)[0];
            popup_f58e178e41d745d581c3f1a37a69f6f2.setContent(html_fede235c66214592bfc96b74efc6fdfe);
        

        circle_69c41bdd788347d195e2e1a83c84bfe4.bindPopup(popup_f58e178e41d745d581c3f1a37a69f6f2)
        ;

        
    
    
            var circle_fe2b60c091cf46639ab60d07f49ac7e4 = L.circle(
                [-19.7502, -47.9325],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14018.932412829672, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_6d7f6b903d3c44f0ba73dd12634d2bc7 = L.popup({"maxWidth": "100%"});

        
            var html_b7b4931fa8da4776b9eed28d693d2fe2 = $(`<div id="html_b7b4931fa8da4776b9eed28d693d2fe2" style="width: 100.0%; height: 100.0%;">Uberaba - Notificações: 53588</div>`)[0];
            popup_6d7f6b903d3c44f0ba73dd12634d2bc7.setContent(html_b7b4931fa8da4776b9eed28d693d2fe2);
        

        circle_fe2b60c091cf46639ab60d07f49ac7e4.bindPopup(popup_6d7f6b903d3c44f0ba73dd12634d2bc7)
        ;

        
    
    
            var circle_230c608c8b4a41dfb7e4a3dae0aa3772 = L.circle(
                [-21.7642, -43.3496],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13490.750272397054, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_4177b8e15d144b3493384aff3acb91d0 = L.popup({"maxWidth": "100%"});

        
            var html_ad5aff13e00f4cfbaf2aefa8548ae9df = $(`<div id="html_ad5aff13e00f4cfbaf2aefa8548ae9df" style="width: 100.0%; height: 100.0%;">Juiz de Fora - Notificações: 51569</div>`)[0];
            popup_4177b8e15d144b3493384aff3acb91d0.setContent(html_ad5aff13e00f4cfbaf2aefa8548ae9df);
        

        circle_230c608c8b4a41dfb7e4a3dae0aa3772.bindPopup(popup_4177b8e15d144b3493384aff3acb91d0)
        ;

        
    
    
            var circle_f7867b88ef894af8a4b24815f6c98227 = L.circle(
                [-18.8505, -41.9481],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10658.34411367296, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_8c7511c586c64fb4b02bd9692eaea242 = L.popup({"maxWidth": "100%"});

        
            var html_2f6d484f08f24d248f7371f4bac8a788 = $(`<div id="html_2f6d484f08f24d248f7371f4bac8a788" style="width: 100.0%; height: 100.0%;">Governador Valadares - Notificações: 40742</div>`)[0];
            popup_8c7511c586c64fb4b02bd9692eaea242.setContent(html_2f6d484f08f24d248f7371f4bac8a788);
        

        circle_f7867b88ef894af8a4b24815f6c98227.bindPopup(popup_8c7511c586c64fb4b02bd9692eaea242)
        ;

        
    
    
            var circle_43b2975cd668448a8a487da19361b628 = L.circle(
                [-19.4679, -44.2477],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10139.056570949459, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_31a4478a481846d0a46dbefc87900a43 = L.popup({"maxWidth": "100%"});

        
            var html_dc3d21f410a746d587d207519cb00350 = $(`<div id="html_dc3d21f410a746d587d207519cb00350" style="width: 100.0%; height: 100.0%;">Sete Lagoas - Notificações: 38757</div>`)[0];
            popup_31a4478a481846d0a46dbefc87900a43.setContent(html_dc3d21f410a746d587d207519cb00350);
        

        circle_43b2975cd668448a8a487da19361b628.bindPopup(popup_31a4478a481846d0a46dbefc87900a43)
        ;

        
    
    
            var circle_39ddfa7e82b54215b63c30a0870e48a3 = L.circle(
                [-22.2341, -45.9332],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8902.445883567101, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_5e632da423f74c009c57915e3411dd15 = L.popup({"maxWidth": "100%"});

        
            var html_6f6767e7b9074e0ca4bb853804f71847 = $(`<div id="html_6f6767e7b9074e0ca4bb853804f71847" style="width: 100.0%; height: 100.0%;">Pouso Alegre - Notificações: 34030</div>`)[0];
            popup_5e632da423f74c009c57915e3411dd15.setContent(html_6f6767e7b9074e0ca4bb853804f71847);
        

        circle_39ddfa7e82b54215b63c30a0870e48a3.bindPopup(popup_5e632da423f74c009c57915e3411dd15)
        ;

        
    
    
            var circle_2252cb5d57d446f9b99e212b3efbbd3a = L.circle(
                [-19.6657, -43.2121],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8720.629842160131, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_9e3cf4b4b8764565a0bf161e8ddca388 = L.popup({"maxWidth": "100%"});

        
            var html_55de8fcff340494f819a4df2814a6918 = $(`<div id="html_55de8fcff340494f819a4df2814a6918" style="width: 100.0%; height: 100.0%;">Itabira - Notificações: 33335</div>`)[0];
            popup_9e3cf4b4b8764565a0bf161e8ddca388.setContent(html_55de8fcff340494f819a4df2814a6918);
        

        circle_2252cb5d57d446f9b99e212b3efbbd3a.bindPopup(popup_9e3cf4b4b8764565a0bf161e8ddca388)
        ;

        
    
    
            var circle_c58f45c340254b44aacee4395a0e89d4 = L.circle(
                [-20.1394, -44.8872],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8187.477191243008, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_366c938fffad42218a3d05a3d935bded = L.popup({"maxWidth": "100%"});

        
            var html_60ea6a65def64ccaa44e8a2fe554a158 = $(`<div id="html_60ea6a65def64ccaa44e8a2fe554a158" style="width: 100.0%; height: 100.0%;">Divinópolis - Notificações: 31297</div>`)[0];
            popup_366c938fffad42218a3d05a3d935bded.setContent(html_60ea6a65def64ccaa44e8a2fe554a158);
        

        circle_c58f45c340254b44aacee4395a0e89d4.bindPopup(popup_366c938fffad42218a3d05a3d935bded)
        ;

        
    
    
            var circle_fbb115cf97304cc29be1de03ae958fb4 = L.circle(
                [-19.9876, -43.8463],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7746.932998826699, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_dcc230dad16a42408d0a1cc2519ba580 = L.popup({"maxWidth": "100%"});

        
            var html_27a3977d9d7b4d378bd8cf45796a4c18 = $(`<div id="html_27a3977d9d7b4d378bd8cf45796a4c18" style="width: 100.0%; height: 100.0%;">Nova Lima - Notificações: 29613</div>`)[0];
            popup_dcc230dad16a42408d0a1cc2519ba580.setContent(html_27a3977d9d7b4d378bd8cf45796a4c18);
        

        circle_fbb115cf97304cc29be1de03ae958fb4.bindPopup(popup_dcc230dad16a42408d0a1cc2519ba580)
        ;

        
    
    
            var circle_5271648a84b643fd85c0c4d7478230c1 = L.circle(
                [-21.1208, -42.943],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6336.8776561165405, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_7bd08890618b48de94048037e2cb6683 = L.popup({"maxWidth": "100%"});

        
            var html_baef617dafef490fb7f6a34038f5ef16 = $(`<div id="html_baef617dafef490fb7f6a34038f5ef16" style="width: 100.0%; height: 100.0%;">Ubá - Notificações: 24223</div>`)[0];
            popup_7bd08890618b48de94048037e2cb6683.setContent(html_baef617dafef490fb7f6a34038f5ef16);
        

        circle_5271648a84b643fd85c0c4d7478230c1.bindPopup(popup_7bd08890618b48de94048037e2cb6683)
        ;

        
    
    
            var circle_5580d8ddc352482d97d238f586c496d3 = L.circle(
                [-18.651, -48.1854],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6277.231530302456, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_6432de6491394c1b8f7aa084af376e8b = L.popup({"maxWidth": "100%"});

        
            var html_8594ff76fcb94164a83fcb9cff90b269 = $(`<div id="html_8594ff76fcb94164a83fcb9cff90b269" style="width: 100.0%; height: 100.0%;">Araguari - Notificações: 23995</div>`)[0];
            popup_6432de6491394c1b8f7aa084af376e8b.setContent(html_8594ff76fcb94164a83fcb9cff90b269);
        

        circle_5580d8ddc352482d97d238f586c496d3.bindPopup(popup_6432de6491394c1b8f7aa084af376e8b)
        ;

        
    
    
            var circle_e66399addd7e4c67818ba70f445ef078 = L.circle(
                [-21.1303, -42.3674],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6160.293731009052, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_82025ce964274736bcb1b6cdf17c7d05 = L.popup({"maxWidth": "100%"});

        
            var html_c40e1b99e7a04dc99ed964f66f2462a2 = $(`<div id="html_c40e1b99e7a04dc99ed964f66f2462a2" style="width: 100.0%; height: 100.0%;">Muriaé - Notificações: 23548</div>`)[0];
            popup_82025ce964274736bcb1b6cdf17c7d05.setContent(html_c40e1b99e7a04dc99ed964f66f2462a2);
        

        circle_e66399addd7e4c67818ba70f445ef078.bindPopup(popup_82025ce964274736bcb1b6cdf17c7d05)
        ;

        
    
    
            var circle_b6a1b4fded0f4b4e90c7291f12351a67 = L.circle(
                [-20.3856, -43.5035],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6116.86716572336, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_3b24cfd4b935456d85e4d9d5597b94b6 = L.popup({"maxWidth": "100%"});

        
            var html_65bbe5bd87c140b58f58492ef833a715 = $(`<div id="html_65bbe5bd87c140b58f58492ef833a715" style="width: 100.0%; height: 100.0%;">Ouro Preto - Notificações: 23382</div>`)[0];
            popup_3b24cfd4b935456d85e4d9d5597b94b6.setContent(html_65bbe5bd87c140b58f58492ef833a715);
        

        circle_b6a1b4fded0f4b4e90c7291f12351a67.bindPopup(popup_3b24cfd4b935456d85e4d9d5597b94b6)
        ;

        
    
    
            var circle_d88e3a3dd48a439d977c8a41d9107c50 = L.circle(
                [-20.0194, -44.0561],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5929.295796386962, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_9efb6a27ac0b4c688b3b4c82589a7f9a = L.popup({"maxWidth": "100%"});

        
            var html_7055761ba6ed4a60844574b266a5b6a3 = $(`<div id="html_7055761ba6ed4a60844574b266a5b6a3" style="width: 100.0%; height: 100.0%;">Ibirité - Notificações: 22665</div>`)[0];
            popup_9efb6a27ac0b4c688b3b4c82589a7f9a.setContent(html_7055761ba6ed4a60844574b266a5b6a3);
        

        circle_d88e3a3dd48a439d977c8a41d9107c50.bindPopup(popup_9efb6a27ac0b4c688b3b4c82589a7f9a)
        ;

        
    
    
            var circle_0e11d475f0d24b0e98f1949b75b991b1 = L.circle(
                [-17.8588, -41.509],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5734.922675861239, "stroke": true, "weight": 3}
            ).addTo(map_4c7f894f49a9448d8fd6b21502540003);
        
    
        var popup_3966f2a8c9a44032bc202154fc2d71ea = L.popup({"maxWidth": "100%"});

        
            var html_9d1676d850904e96ba7e7bb9db8060ba = $(`<div id="html_9d1676d850904e96ba7e7bb9db8060ba" style="width: 100.0%; height: 100.0%;">Teófilo Otoni - Notificações: 21922</div>`)[0];
            popup_3966f2a8c9a44032bc202154fc2d71ea.setContent(html_9d1676d850904e96ba7e7bb9db8060ba);
        

        circle_0e11d475f0d24b0e98f1949b75b991b1.bindPopup(popup_3966f2a8c9a44032bc202154fc2d71ea)
        ;

        
    
</script>